In [3]:
import numpy as np
import pandas as pd

In [4]:
# read data
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# transform 'Cabin' column to 'Deck'
df['Deck'] = df['Cabin'].apply(lambda x: x[0] if pd.notna(x) else np.nan)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN

In [6]:
# set up data
X = df.drop(['Survived'], axis=1)
y = df['Survived']
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=1)

### Following code to deal with SetttingWithCopyWarning, and ensure we are working with a copy of the data and not a view
#https://github.com/scikit-learn/scikit-learn/issues/8723#issuecomment-416513938
#http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#evaluation-order-matters
Xtrain = Xtrain.copy()
Xtest = Xtest.copy()
ytrain = ytrain.copy()
ytest = ytest.copy()

In [7]:
# set up preprocessing pipeline for numeric data
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import KBinsDiscretizer
'''Strategy:
uniform：每个分箱等宽
quantile：每个分箱中拥有相同数量的数据点
kmeans：每个箱中的值具有与1D k均值簇最近的中心'''

numeric_features = ['Age']
numeric_transformer = Pipeline(steps=[
    ('si', SimpleImputer(missing_values=np.nan, strategy='median')),
    ('kbd', KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='quantile'))])
#numeric_transformer.fit_transform(df[numeric_features])

In [8]:
# set up preprocessing pipeline for categorical data
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
categorical_features = ['Pclass', 'Sex', 'Deck']
categorical_transformer = Pipeline(steps=[
    ('si', SimpleImputer(missing_values=np.nan, strategy='constant', fill_value='X')),
    ('ohe', OneHotEncoder(sparse=False, dtype=int, handle_unknown='ignore'))])
#categorical_transformer.fit_transform(df[categorical_features])

In [9]:
# setup transformation of data as per preprocessing pipelines for numeric and categorical data
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)],
    remainder='drop') # remainder='passthrough')

# By default, only the specified columns in transformers are transformed and combined in the output, 
# and the non-specified columns are dropped. (default of 'drop'). By specifying remainder='passthrough', 
# all remaining columns that were not specified in transformers will be automatically passed through. 
# This subset of columns is concatenated with the output of the transformers.

In [10]:
# setup the preprocessing->model pipeline
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier  
clf = Pipeline(steps=[('pp', preprocessor),
                      ('rfc', RandomForestClassifier(random_state=1))])

In [11]:
# setup grid search
from sklearn.model_selection import GridSearchCV
# it will have each combinaiton and then you can find the best estimator  (like hyperparameter?)
param_grid = {
    'rfc__n_estimators': [100, 200, 300, 400, 500, 1000],
    'rfc__criterion': ['gini', 'entropy']
}
gscv = GridSearchCV(clf, param_grid, iid=False, cv=5, return_train_score=False)
# do cross validation 5 folds with param_grid to test score (best_estimator_)

In [13]:
# search for best params
gscv.fit(Xtrain, ytrain)
print(gscv.best_estimator_, "\n")
print(gscv.best_score_, "\n")
print(gscv.best_params_, "\n")
print(gscv.cv_results_, "\n")

Pipeline(memory=None,
     steps=[('pp', ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
         transformer_weights=None,
         transformers=[('num', Pipeline(memory=None,
     steps=[('si', SimpleImputer(copy=True, fill_value=None, missing_values=nan,
       strategy='median', verbose=0)), ('kbd',...mators=100, n_jobs=None,
            oob_score=False, random_state=1, verbose=0, warm_start=False))])

0.8076295794905324

{'rfc__criterion': 'gini', 'rfc__n_estimators': 100}

{'mean_fit_time': array([0.05994091, 0.10918427, 0.17050691, 0.21779466, 0.27304296,
       0.53109512, 0.05763521, 0.12079916, 0.17214713, 0.22507854,
       0.28202453, 0.54395475]), 'std_fit_time': array([0.00312858, 0.00266224, 0.01171306, 0.00679395, 0.00669749,
       0.00904422, 0.00637304, 0.01019983, 0.00478845, 0.00345784,
       0.00876056, 0.00911258]), 'mean_score_time': array([0.01007533, 0.00903382, 0.01990018, 0.01924853, 0.02131429,
       0.05538287, 0.00784807, 0.01220365, 0.0164813 , 0.02750392,
       0.02502832, 0.06072707]), 'std_score_time': array([0.00659042, 0.0074006 , 0.00620764, 0.00725613, 0.00699869,
       0.01043139, 0.00698771, 0.0047816 , 0.00171738, 0.0070095 ,
       0.007107  , 0.0074137 ]), 'param_rfc__criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_rfc__n_estimators': masked_array(data=[100, 200, 300, 400, 500, 1000, 100, 200, 300, 400, 500,
                   1000],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'rfc__criterion': 'gini', 'rfc__n_estimators': 100}, {'rfc__criterion': 'gini', 'rfc__n_estimators': 200}, {'rfc__criterion': 'gini', 'rfc__n_estimators': 300}, {'rfc__criterion': 'gini', 'rfc__n_estimators': 400}, {'rfc__criterion': 'gini', 'rfc__n_estimators': 500}, {'rfc__criterion': 'gini', 'rfc__n_estimators': 1000}, {'rfc__criterion': 'entropy', 'rfc__n_estimators': 100}, {'rfc__criterion': 'entropy', 'rfc__n_estimators': 200}, {'rfc__criterion': 'entropy', 'rfc__n_estimators': 300}, {'rfc__criterion': 'entropy', 'rfc__n_estimators': 400}, {'rfc__criterion': 'entropy', 'rfc__n_estimators': 500}, {'rfc__criterion': 'entropy', 'rfc__n_estimators': 1000}], 'split0_test_score': array([0.77622378, 0.77622378, 0.77622378, 0.77622378, 0.77622378,
       0.77622378, 0.77622378, 0.77622378, 0.77622378, 0.77622378,
       0.77622378, 0.77622378]), 'split1_test_score': array([0.8041958, 0.7972028, 0.7972028, 0.8041958, 0.8041958, 0.8041958,
       0.8041958, 0.7972028, 0.7972028, 0.8041958, 0.8041958, 0.8041958]), 'split2_test_score': array([0.81818182, 0.81818182, 0.81818182, 0.81818182, 0.81818182,
       0.81818182, 0.81818182, 0.81818182, 0.81818182, 0.81818182,
       0.81818182, 0.81818182]), 'split3_test_score': array([0.82394366, 0.82394366, 0.82394366, 0.82394366, 0.82394366,
       0.82394366, 0.82394366, 0.82394366, 0.82394366, 0.82394366,
       0.82394366, 0.82394366]), 'split4_test_score': array([0.81560284, 0.81560284, 0.81560284, 0.81560284, 0.81560284,
       0.81560284, 0.81560284, 0.81560284, 0.81560284, 0.81560284,
       0.81560284, 0.81560284]), 'mean_test_score': array([0.80762958, 0.80623098, 0.80623098, 0.80762958, 0.80762958,
       0.80762958, 0.80762958, 0.80623098, 0.80623098, 0.80762958,
       0.80762958, 0.80762958]), 'std_test_score': array([0.01696577, 0.01747188, 0.01747188, 0.01696577, 0.01696577,
       0.01696577, 0.01696577, 0.01747188, 0.01747188, 0.01696577,
       0.01696577, 0.01696577]), 'rank_test_score': array([1, 9, 9, 1, 1, 1, 1, 9, 9, 1, 1, 1])}

In [147]:
# evaluate best_estimator_ on test data
ypred = gscv.best_estimator_.predict(Xtest)
from sklearn import metrics
print (metrics.accuracy_score(ytest, ypred))
print (metrics.confusion_matrix(ytest, ypred))
print (metrics.classification_report(ytest, ypred))

0.7541899441340782
[[87 19]
 [25 48]]
              precision    recall  f1-score   support

           0       0.78      0.82      0.80       106
           1       0.72      0.66      0.69        73

   micro avg       0.75      0.75      0.75       179
   macro avg       0.75      0.74      0.74       179
weighted avg       0.75      0.75      0.75       179

In [1]:
'''macro：计算二分类metrics的均值，为每个类给出相同权重的分值。当小类很重要时会出问题，因为该macro-averging方法是对性能的平均。另一方面，该方法假设所有分类都是一样重要的，因此macro-averaging方法会对小类的性能影响很大。

weighted:对于不均衡数量的类来说，计算二分类metrics的平均，通过在每个类(label)的score上进行加权实现。

micro：给出了每个样本类(label)以及它对整个metrics的贡献的pair（sample-weight），而非对整个类的metrics求和，它会每个类的metrics上的权重及因子进行求和，来计算整个份额。Micro-averaging方法在多标签（multilabel）问题中设置，包含多分类，此时，大类将被忽略。

samples：应用在multilabel问题上。它不会计算每个类，相反，它会在评估数据中，通过计算真实类和预测类的差异的metrics，来求平均（sample_weight-weighted）
'''

'macro：计算二分类metrics的均值，为每个类给出相同权重的分值。当小类很重要时会出问题，因为该macro-averging方法是对性能的平均。另一方面，该方法假设所有分类都是一样重要的，因此macro-averaging方法会对小类的性能影响很大。\n\nweighted:对于不均衡数量的类来说，计算二分类metrics的平均，通过在每个类(label)的score上进行加权实现。\n\nmicro：给出了每个样本类(label)以及它对整个metrics的贡献的pair（sample-weight），而非对整个类的metrics求和，它会每个类的metrics上的权重及因子进行求和，来计算整个份额。Micro-averaging方法在多标签（multilabel）问题中设置，包含多分类，此时，大类将被忽略。\n\nsamples：应用在multilabel问题上。它不会计算每个类，相反，它会在评估数据中，通过计算真实类和预测类的差异的metrics，来求平均（sample_weight-weighted）\n'